%li.clearfix.record{class: cycle("on", "on-hover"), id: dom_id(group)}
  %span.status
    - unless group.expired?
      = refinery_icon_tag(group.soon_expired? ? 'flag_orange.png' : "flag_green.png")
    - else
      = refinery_icon_tag('flag_red.png') 
      
  %span.title
    %strong= group.name
  %span.preview
    = t('.has_n_users', count: group.users.size)
  %span.actions
    - unless group.is_guest_group? || !current_refinery_user.is_group_superadmin?
      = link_to refinery_icon_tag("delete.png"), refinery.groups_admin_group_path(group),
        class: "cancel confirm-delete delete_group",
        title: t('.delete'),
        data: {confirm: t('message', scope: 'refinery.admin.delete', title: group.name)},
        method: :delete
      = link_to refinery_icon_tag("application_edit.png"), refinery.edit_groups_admin_group_path(group),
        title: t('.edit')
    = link_to refinery_icon_tag("group_add.png"), refinery.new_groups_admin_group_user_path(group),
      class: "show_group",
      title: t('refinery.groups.admin.groups.group.add_user')
    = link_to refinery_icon_tag("group.png"), refinery.groups_admin_group_path(group),
      class: "show_group",
      title: t('.view')

    